/* You can add global styles to this file, and also import other style files */
.page-title {
    color: white;
    background-color: #03828F;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width:670px) {
    .stats-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .stats {
        display: block;
    }
}

a:visited {
    color: blue;
}

.container {
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.ngx-charts-tooltip-content.type-tooltip {
    background-color: #03828F !important;
    color: white;
}

.ngx-charts-tooltip-content.type-tooltip::after {
    background-color: #03828F !important;
    color: white;
}

.tooltip {
    min-width: 100px;
}

.tooltip-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

body {
    font-family: Raleway;
}